In [1]:
# Ejercicio 1
nombre = "laptop"
precio = 899.99
cantidad = 5
print(f"El producto {nombre} cuesta {precio}€ y quedan {cantidad} unidades")

El producto laptop cuesta 899.99€ y quedan 5 unidades

In [2]:
N = 27
condicion = (10 <= N <= 50) or (N > 100) or (N < 0 and N % 3 == 0)
print(condicion)

True

In [5]:
# Ejercicio 3
S1 = "abcdef"
S2 = "cdefgh"
resultado = False
for i in range(len(S1)-2):
    if S1[i:i+3] in S2:
        resultado = True
        break
print(resultado)

True

In [6]:
# Ejercicio 4
lista = [3, 1, 3, 2, 1, 4]
sin_duplicados = []
for elemento in lista:
    if elemento not in sin_duplicados:
        sin_duplicados.append(elemento)
print(sin_duplicados)

[3, 1, 2, 4]

In [7]:
# Ejercicio 5
L = ["hola", "mundo", "hola", "python"]
s = "hola"
t = "adiós"
resultado = [t if elemento == s else elemento for elemento in L]
print(resultado)

['adiós', 'mundo', 'adiós', 'python']

2. Dada una lista con elementos duplicados, escribir un programa que muestre una nueva lista
con el mismo contenido que la primera pero sin elementos duplicados. Para este ejercicio, no
puedes hacer uso de objetos de tipo ‘Set’.

In [12]:
x = [2, 3, 5, 5, 9,9 , 10 ,2 ,1]
y = []

for numero in x: #bucle para recorrer la primeralista
    if numero not in y: #condicion para queen caso de que si serepite un numero no lo ponga lalista 
        y.append(numero)# con append hacemos que enla variable y se agregue la nueva lista sin duplicados

print("Original:", x)
print("sin duplicados:", y)

Original: [2, 3, 5, 5, 9, 9, 10, 2, 1]
sin duplicados: [2, 3, 5, 9, 10, 1]

In [3]:
x=[4,5,6,8,9,9]
y=[]

for n in x:
    if n not in y:
        y.append(n)

print(y)

[4, 5, 6, 8, 9]

In [8]:
x=[4,4,5,5,6,9]
y=list(set(x))
print(x)

[4, 4, 5, 5, 6, 9]

In [10]:
x=5
r=2
m=x+r
print(m)

7

In [ ]:
# Ejercicio 3
S1 = "abcdef"
S2 = "cdefgh"
resultado = False
for i in range(len(S1)-2):
    if S1[i:i+3] in S2:
        resultado = True
        break
print(resultado)

s1=